<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Rock Paper Scissors</title>
</head>
<body>
    <nav>
        <ul class="main-nav">
            <li><a href="/play" class="logo">Rock <br> Paper <br> Scissors</a></li>
            <li><a href="/play">Home</a></li>
        </ul>
    </nav>
    <hr>
    {% block content %}
    {% endblock %}    
</body>
</html>